@import "../../main-view.css";

.input-group {
  margin-top: 5%;
  margin-left: 30%;
  width: 40%;
}

.input-group-prepend {
  width: 40%;
}

.input-group-text {
  width: 100%;
}

.btn-group {
  margin-left: 16.5vw;
  margin-top: 5%;
}

button {
  width: 10vw;
  margin: 0 5vw 0 5vw;
}

.form-container {
  margin-top: 3%;
}

.form-check {
  margin-top: 1%;
  margin-left: 35%;
}
