<div class="alert alert-danger" id="server-error" role="alert">
  Nothing was found in database!
</div>

<button type="button" (click)="showDetails()" class="btn btn-primary md-1">Show details</button>
<table class="table table-dark" id="family-table">
  <thead>
  <tr class="bg-success" id="header-row">
    <th scope="col">Role</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Pesel</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Sex</th>
  </tr>
  </thead>
</table>
