@import "../../main-view.css";

.input-group {
  margin-top: 5%;
  margin-left: 30%;
  width: 40%;
}

.input-group-prepend {
  width: 40%;
}

.input-group-text {
  width: 100%;
}

#disabledInput {
  pointer-events: none;
  background-color: #d7d7d7;
}

button {
  width: 10vw;
  margin-left: 25vw;
  margin-top: 5%;
}


